@mixin retina-image-container($imagename, $size, $ext:png) {
  @include size($size);
  @include retina-image('../img/#{$imagename}', $size, $ext);
  background-position:center;
  background-repeat:no-repeat;
}

/***** Custom Mixins *****/
/***** Custom Layout Styles *****/
/************ General Page Elements */
.row-wrapper {
  display: block; }
.row-wrapper::after {
  clear: both;
  content: "";
  display: table; }
.row-wrapper:nth-child(odd) {
  background: #D6EAF8; }
.row-wrapper .outer-container {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto; }
.row-wrapper .outer-container::after {
  clear: both;
  content: "";
  display: table; }