<!DOCTYPE html>
<html>
<head>
	<title>Trending Virtual</title>
</head>
<body>
	<div class="row-wrapper">
		<div class="outer-container">
			<header>
				<img id="logo" src="images/logo_temp.jpg" />
				<nav>
					<a href="#">Home</a>
					<a href="#">About</a>
					<a href="#">Contact</a>
				</nav>
			</header>			
		</div>
	</div>

	<div class="row-wrapper">
		<div class="outer-container">
			<article class="teaser--top">
				<div class="meta">Aug 22, 2099 by The Bam</div>
			</article>
		</div>
	</div>

	<section id="recent-posts">
		<article class="teaser--recent"></article>
		<article class="teaser--recent"></article>
		<article class="teaser--recent"></article>
		<article class="teaser--recent"></article>
	</section>

	<section id="subscribe"></section>

	<section id="about"></section>

	<footer></footer>
</body>
</html>