/* General Page Elements 
******************************/
.row-wrapper {
  @include row();
  
  &:nth-child(odd) {
    background: $row-background;
  }
  
  .outer-container {
    @include outer-container;
  }  
}


/* Navigation 
******************************/
header {
  @include span-columns(12);
  height: 72px;
  display:table;

  #logo {
    display: table-cell; 
    vertical-align:middle;
  }
  
  nav {
    float:right;
    line-height: 72px;
    
    & a {
      font-size:18px;
      color: #E3857D;
      text-transform: uppercase;
      margin-right:40px;
      
      &:last-child {
        margin-right:9px;
      }
    }
  }
}

/* New Navigation
******************************/

.centered-navigation {
  $base-border-radius: 3px !default;
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  $centered-navigation-padding: 1em;
  $centered-navigation-logo-height: 2em;
  $centered-navigation-background: #E7F1EC;
  $centered-navigation-color: transparentize($base-font-color, 0.3);
  $centered-navigation-color-hover: $base-font-color;
  $centered-navigation-height: 60px;
  $centered-navigation-item-padding: 1em;
  $centered-navigation-submenu-padding: 1em;
  $centered-navigation-submenu-width: 12em;
  $centered-navigation-item-nudge: 2.2em;
  $horizontal-bar-mode: $large-screen;

  border-bottom: 1px solid darken($centered-navigation-background, 6%);
  min-height: $centered-navigation-height;
  width: 100%;
  z-index: 9999;

  
  // Mobile view

  .mobile-logo {
    display: inline;
    float: left;
    max-height: $centered-navigation-height;
    padding-left: $centered-navigation-padding;

    img {
      max-height: $centered-navigation-height;
      opacity: .6;
      padding: .8em 0;
    }

    @include media($horizontal-bar-mode) {
      display: none;
    }
  }

  .centered-navigation-mobile-menu {
    color: $centered-navigation-color;
    display: block;
    float: right;
    line-height: $centered-navigation-height;
    margin: 0;
    padding-right: $centered-navigation-submenu-padding;
    text-decoration: none;
    text-transform: uppercase;

    @include media ($horizontal-bar-mode) {
      display: none;
    }

    &:focus,
    &:hover {
      color: $centered-navigation-color-hover;
    }
  }

  
  // Nav menu

  .centered-navigation-wrapper {
    @include outer-container;
    @include clearfix;
    position: relative;
    z-index: 999;
  }

  ul.centered-navigation-menu {
    -webkit-transform-style: preserve-3d; 
  // stop webkit flicker
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 99999;

    &.show {
      display: block;
    }

    @include media ($horizontal-bar-mode) {
      display: block;
      text-align: center;
    }
  }

  
  // The nav items

  .nav-link:first-child {
    @include media($horizontal-bar-mode) {
      margin-left: $centered-navigation-item-nudge;
    }
  }

  ul li.nav-link {
    background: $centered-navigation-background;
    display: block;
    line-height: $centered-navigation-height;
    overflow: hidden;
    padding-right: $centered-navigation-submenu-padding;
    text-align: right;
    width: 100%;
    z-index: 9999;

    a {
      color: $centered-navigation-color;
      display: inline-block;
      outline: none;
      text-decoration: none;

      &:focus,
      &:hover {
        color: $centered-navigation-color-hover;
      }
    }

    @include media($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $centered-navigation-height;

      a {
        padding-right: $centered-navigation-item-padding;
      }
    }
  }

  li.logo.nav-link {
    display: none;
    line-height: 0;

    @include media($large-screen) {
      display: inline;
    }
  }

  .logo img {
    margin-bottom: -$centered-navigation-logo-height / 3;
    max-height: $centered-navigation-logo-height;
    opacity: 0.6;
  }

  
// Sub menus

  li.more.nav-link {
    padding-right: 0;

    @include media($large-screen) {
      padding-right: $centered-navigation-submenu-padding;
    }

    > ul > li:first-child a  {
      padding-top: 1em;
    }

    a {
      margin-right: $centered-navigation-submenu-padding;
    }

    > a {
      padding-right: 0.6em;
    }

    > a:after {
      @include position(absolute, auto -0.4em auto auto);
      color: $centered-navigation-color;
      content: "\25BE";
    }
  }

  li.more {
    overflow: visible;
    padding-right: 0;

    a {
      padding-right: $centered-navigation-submenu-padding;
    }

    > a {
      padding-right: 1.6em;
      position: relative;

      @include media($large-screen) {
        margin-right: $centered-navigation-submenu-padding;
      }

      &:after {
        content: "›";
        font-size: 1.2em;
        position: absolute;
        right: $centered-navigation-submenu-padding / 2;
      }
    }

    &:focus > .submenu,
    &:hover > .submenu {
      display: block;
    }

    @include media($horizontal-bar-mode) {
      padding-right: $centered-navigation-submenu-padding;
      position: relative;
    }
  }

  ul.submenu {
    display: none;
    padding-left: 0;

    @include media($horizontal-bar-mode) {
      left: -$centered-navigation-submenu-padding;
      position: absolute;
      top: 1.5em;
    }

    .submenu {
      @include media($horizontal-bar-mode) {
        left: $centered-navigation-submenu-width - 0.2em;
        top: 0;
      }
    }

    li {
      display: block;
      padding-right: 0;

      @include media($horizontal-bar-mode) {
        line-height: $centered-navigation-height / 1.3;

        &:first-child > a {
          border-top-left-radius: $base-border-radius;
          border-top-right-radius: $base-border-radius;
        }

        &:last-child > a {
          border-bottom-left-radius: $base-border-radius;
          border-bottom-right-radius: $base-border-radius;
          padding-bottom: .7em;
        }
      }

      a {
        background-color: darken($centered-navigation-background, 3%);
        display: inline-block;
        text-align: right;
        text-decoration: none;
        width: 100%;

        @include media($horizontal-bar-mode) {
          background-color: $centered-navigation-background;
          padding-left: $centered-navigation-submenu-padding;
          text-align: left;
          width: $centered-navigation-submenu-width;
        }
      }
    }
  }
}

/* Teaser Top
******************************/
article.teaser--top {
  @include span-columns(8);
  @include shift(2);
  
  margin-top:88px;
  margin-bottom:79px;
  
  @include media($mobile) {
    @include shift(1);
    @include span-columns(10);
  }

  & .teaser-image {
    @include size($teaser-image-size);
    @include background-image(  image-url('chevron-no-background.svg'), 
                                linear-gradient(#e34731 0%, #e34d35 33%, #e46143 34%, #e56244 66%, #e57b53 67%, #e57b53 100%));
    background-position:center bottom;
    background-repeat:no-repeat;
    border-radius:8px;
    margin-bottom:18px;
  }
}

/* Recent Posts
******************************/
#recent-posts {
  @include shift(2);
  @include span-columns(8);
  @include pad(10px 0px 75px 0px);
  
  @include media($mobile) {
    @include shift(1);
    @include span-columns(10);
  }

  .teaser--recent {
    margin-top:50px;
  }
  
  .meta {
    float:right;
    @include media($mobile){
      float:none;
    }
  }
  
}

/* Article Detail
******************************/
#full-article {
  @include span-columns(12);
  padding-bottom:50px;
    
  #article-content {
    @include shift-in-context(1 of 12);
    @include span-columns(10 of 12);
  }

  %article-images {
    border-radius:$base-border-radius;    
  }
  #main-image {
    @extend %article-images;
    margin:72px 0px 60px 0px;
    // @include retina-image-container(chevron-main-image, $main-image-size, 'jpg');
  }
  .content-image {
    @extend %article-images;
    margin:15px 0px 27px 0px;
    // @include retina-image-container('image-article-content', $content-image-size, 'jpg');
  } 
}

/* Subscribe
******************************/
%whitebox {
  @include shift(1);
  @include span-columns(10);
  @include pad(48px 0px 45px 0px);
  margin-bottom:105px;  
  background:white;
  border-top:4px solid $red;  
}

#subscribe {
  @extend %whitebox;
  
  .note {
    float:left;
    margin-left:$column;
  }
  
  .follow {
    float:right;
    margin-right:$column;
  }
}

/* Author
******************************/
#author {
  @include shift(1);
  @include span-columns(10);
  padding-top:75px;
      
  .author-icon {
    float:left;
    margin-right:23px;
    // @include retina-image-container(author, $author-image-size, jpg);
    border-radius:50%;
  }
}

/* Recommended Reading 
******************************/
#recommended-reading {
  @extend %whitebox;
  margin-top:55px;
  
  h5, 
  ul {
    margin-left:($column+$gutter);
  }
}



/* About
******************************/
#about {
  @include shift(1);
  @include span-columns(9);
  @include pad(79px 0 140px 0);

  %tower-common {
    margin-top:30px;
  }

  .tower-icon {
    @extend %tower-common;
    height:147px;
    @include span-columns(2 of 9);
    @include media($mobile) {
      @include span-columns(9 of 9);
      text-align:center;
    }
    @include retina-image('../img/icon-tower', 114px 147px);
    background-repeat:no-repeat;
    background-position:center center;
  }
  p {
    @extend %tower-common;
  }
}

/* Footer 
******************************/
footer {
  @include span-columns(12);
  font-size:$small-font-size;
  height:72px;
  line-height:72px;
  text-align: center;
}

