/************ Teaser Top */
article.teaser--top {
  float: left;
  display: block;
  margin-right: 4.56432%;
  width: 65.14523%;
  margin-left: 17.42739%;
  margin-top: 88px;
  margin-bottom: 79px; }
  article.teaser--top:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    article.teaser--top {
      margin-left: 8.71369%;
      float: left;
      display: block;
      margin-right: 4.56432%;
      width: 82.57261%; }
      article.teaser--top:last-child {
        margin-right: 0; } }
  article.teaser--top .teaser-image {
    height: 228px;
    width: 100%;
    // background-image: image-url('chevron-no-background.svg'), -webkit-linear-gradient(#e34731 0%, #e34d35 33%, #e46143 34%, #e56244 66%, #e57b53 67%, #e57b53 100%);
    // background-image: image-url('chevron-no-background.svg'), linear-gradient(to   , #e34d35 33%, #e46143 34%, #e56244 66%, #e57b53 67%, #e57b53 100%);
    background-image: image-url('obama-best.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    border-radius: 8px;
    margin-bottom: 18px; }

/************ Recent Posts */
#recent-posts {
  margin-left: 17.42739%;
  float: left;
  display: block;
  margin-right: 4.56432%;
  width: 65.14523%;
  padding: 10px 0px 75px 0px; }
  #recent-posts:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    #recent-posts {
      margin-left: 8.71369%;
      float: left;
      display: block;
      margin-right: 4.56432%;
      width: 82.57261%; }
      #recent-posts:last-child {
        margin-right: 0; } }
  #recent-posts .teaser--recent {
    margin-top: 50px; }
  #recent-posts .meta {
    float: right; }
    @media screen and (max-width: 480px) {
      #recent-posts .meta {
        float: none; } }

/************ Article Detail */
#full-article {
  float: left;
  display: block;
  margin-right: 4.56432%;
  width: 100%;
  padding-bottom: 50px; }
  #full-article:last-child {
    margin-right: 0; }
  #full-article #article-content {
    margin-left: 8.71369%;
    float: left;
    display: block;
    margin-right: 4.56432%;
    width: 82.57261%; }
    #full-article #article-content:last-child {
      margin-right: 0; }
  #full-article #main-image, #full-article .content-image {
    border-radius: 6px; }
  #full-article #main-image {
    margin: 72px 0px 60px 0px;
    height: 348px;
    width: 100%;
    background-image: url("../img/chevron-main-image.jpg");
    background-position: center;
    background-repeat: no-repeat; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
      #full-article #main-image {
        background-image: url("../img/chevron-main-image_2x.jpg");
        background-size: 100% 348px; } }
  #full-article .content-image {
    margin: 15px 0px 27px 0px;
    height: 264px;
    width: 100%;
    background-image: url("../img/image-article-content.jpg");
    background-position: center;
    background-repeat: no-repeat; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
      #full-article .content-image {
        background-image: url("../img/image-article-content_2x.jpg");
        background-size: 100% 264px; } }

/************ Subscribe */
#subscribe, #recommended-reading {
  margin-left: 8.71369%;
  float: left;
  display: block;
  margin-right: 4.56432%;
  width: 82.57261%;
  padding: 48px 0px 45px 0px;
  margin-bottom: 105px;
  background: white;
  border-top: 4px solid #E3857D; }
  #subscribe:last-child, #recommended-reading:last-child {
    margin-right: 0; }

#subscribe .note {
  float: left;
  margin-left: 40px; }
#subscribe .follow {
  float: right;
  margin-right: 40px; }

/************ Author */
#author {
  margin-left: 8.71369%;
  float: left;
  display: block;
  margin-right: 4.56432%;
  width: 82.57261%;
  padding-top: 75px; }
  #author:last-child {
    margin-right: 0; }
  #author .author-icon {
    float: left;
    margin-right: 23px;
    height: 108px;
    width: 108px;
    background-image: url("../img/author.jpg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
      #author .author-icon {
        background-image: url("../img/author_2x.jpg");
        background-size: 108px 108px; } }

/************ Recommended Reading */
#recommended-reading {
  margin-top: 55px; }
  #recommended-reading h5,
  #recommended-reading ul {
    margin-left: 84px; }

/************ About */
#about {
  margin-left: 8.71369%;
  float: left;
  display: block;
  margin-right: 4.56432%;
  width: 73.85892%;
  /*padding: 79px 0 140px 0; }*/
  padding: 79px 0 0 0; }
  #about:last-child {
    margin-right: 0; }
  #about .tower-icon, #about p {
    margin-top: 30px; }
  #about .tower-icon {
    height: 147px;
    float: left;
    display: block;
    margin-right: 6.17978%;
    width: 17.41573%;
    background-image: image-url('trending_virtual_gray_back.png');
    /*background-image: image-url("icon-tower.png");*/
    background-repeat: no-repeat;
    background-position: center center; }
    #about .tower-icon:last-child {
      margin-right: 0; }
    @media screen and (max-width: 480px) {
      #about .tower-icon {
        float: left;
        display: block;
        margin-right: 6.17978%;
        width: 100%;
        text-align: center; }
        #about .tower-icon:last-child {
          margin-right: 0; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
      #about .tower-icon {
        background-image: image-url('icon-tower_2x.png');
        background-size: 114px 147px; } }
